* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #a1caec;
    color: black;
}

.content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 60vh;

}

.head {
    height: 15vh;
    background-color: #96BDC6;

}

.head h2 {
    padding: 1.5rem;
    font-size: 3rem;


}

.box img {
    margin-top: 8rem;
    border: 3px solid black;
    height: 30vmin;
    width: 30vmin;
    border-radius: 50%;
    object-fit: cover;

}

.box img:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scaleX(1);
    transform: scaley(0.9);

}

.score {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    font-size: 2rem;
}

.play {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81968F;
    width: 20vmin;
    height: 5vmin;
    border-radius: 9px;
    margin-left: 43.2rem;
}